:root {
  --clock-radius: 150px;
}
/* Clock Face */
.face {
  position: relative;
  z-index: 1;
  width: calc(var(--clock-radius) * 2);
  height: calc(var(--clock-radius) * 2);
  margin: 100px;
  /* for testing dial centering :*/
  background-color: khaki;

  /* for testing arrows centering */
  /* background: radial-gradient(
    circle,
    red 38%,
    red 38%,
    white 38%,
    white 54.5%,
    red 54.5%,
    red 57.5%,
    white 57.5%
  ); */
}

.dial {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-size: cover;
  background-position: center;
}

/* Arrows */
.arrow {
  position: absolute;
  bottom: calc(50% - 10px);
  left: 50%;
  z-index: 10;
  background-color: black;
  transform-origin: 50% calc(100% - 10px);
}

.hour {
  width: 3%;
  height: 30%;
}
.minute {
  width: 2%;
  height: 42%;
}
.second {
  width: 1%;
  height: 44%;
  /* animation: rotate-arrow 60s linear infinite forwards; */
}

@keyframes rotate-arrow {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
