:root {
  --clock-radius: 150px;
}
/* Clock Face */
.face {
  position: relative;
  width: calc(var(--clock-radius) * 2);
  height: calc(var(--clock-radius) * 2);
  background-color: yellow;
  margin: 100px;
  background-image: url(./public/dial-01.png);
  background-size: cover;
  background-position: center;
}
/* Arrows */
.arrow {
  position: absolute;
  bottom: 50%;
  left: 50%;
  z-index: 10;
  background-color: black;
}

.hour {
  width: 3%;
  height: 30%;
}
.minute {
  width: 2%;
  height: 42%;
}
.second {
  width: 1%;
  height: 44%;
}
